body {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
}
.header {
  /* margin: 0 auto; */
}

.header section {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  background-image: url(../img/banner.png);
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  width: 1200px;
  height: 800px;
  /* position: absolute; */
}

.heading-primary {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-text-box {
  /* border: 1px solid #fff; */
  color: white;
  width: 40%;
  /* justify-content: end; */
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  text-align: end;
  /* position: relative; */
}

.header-text-box p {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-light {
  width: 160px;
  background-color: #fff;
  color: #005fac;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.2s;
}
.button-light a {
  text-decoration: none;
}

.section-padding {
  padding: 80px 0 80px 0;
}

.section-margin {
  margin: 80px 0 80px 0;
}

.section-main {
  margin: 0 auto;
  /* border: 1px solid #000; */
}

.width-75 {
  width: 75%;
}

.width-80 {
  width: 83.33%;
}

.width-90 {
  width: 91.66%;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}

.self-center {
  /* border: 1px solid #000; */
  align-self: center;
}

.self-end {
  /* border: 1px solid #000; */
  align-self: end;
}

.margin-auto-x {
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.textalign-center {
  text-align: center;
}

.background {
  /* width: 200px;
  height: 200px; */
  position: relative;
  display: inline;
  z-index: 0;
}

.overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  height: 300px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.text-grey {
  color: #aaa;
}

.text-weight-normal {
  font-weight: 400;
}

.text-display-3 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.text-display-4 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
}
