body {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
}
.header {
  /* margin: 0 auto; */
}

.header section {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  background-image: url(../img/banner.png);
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  width: 1200px;
  height: 800px;
  /* position: absolute; */
}

.heading-primary {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-text-box {
  /* border: 1px solid #fff; */
  color: white;
  width: 40%;
  /* justify-content: end; */
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  text-align: end;
  /* position: relative; */
}

.header-text-box p {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-button {
  text-decoration: none;
  width: 33%;
  align-self: end;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.2s;
}

.section-padding {
  padding-top: 100px;
}

.section-main {
  margin: 0 auto;
  /* border: 1px solid #000; */
}

.width-80 {
  width: 83.33%;
}

.width-90 {
  width: 91.66%;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}

.self-center {
  /* border: 1px solid #000; */
  align-self: center;
}

.margin-auto-x {
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.textalign-center {
  text-align: center;
}

.background {
  /* width: 200px;
  height: 200px; */
  position: relative;
  display: inline;
  z-index: 0;
}

.overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}
